html, body {
    margin: 0;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(195, 178, 209); 
    background-image: -webkit-linear-gradient(60deg,rgb(255, 133, 206) 50% ,rgb(195, 178, 209) 50% );   
    background-repeat: no-repeat;
}
body h1 {
    background-color:  rgb(255, 133, 206);
    border: solid 1px rgb(186, 179, 179);
    box-shadow: inset grey  -2px -2px;
    width: max-content;
    margin: 60px auto;
    border-radius: 20px;
}

body h1 ,ul li {

    color:rgb(0, 0, 0);
    font-family: Cambria,'Franklin Gothic Medium';
}
body h1 ,ul li{
    border-top: solid 1px grey;
    padding: 20px;
}

body ul {
    width: 100%;
    padding:0px;
    margin: 0px 0px;
    border-bottom:solid 1px grey;
}
.container {
    width:400px;
    height:auto;
   margin: auto auto;
}
body ul li {
    background-color: rgb(248, 241, 241);
    font-size: 20px;
    list-style: none;
    height: 20px;
    padding-left: 40px;
    
}
body ul li input {
   margin: 10px;
}
input:checked+b {
    text-decoration: line-through rgb(255, 133, 206);
    
}
form input:focus {
    outline: none;
    border-bottom: solid 2px  rgb(255, 133, 206)  ;
}

form {
 
    background-color: rgb(248, 241, 241);
    display: flex;
    width: max-content;
    padding: 1px;
    height: 60px;
    width: 398px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form input {
   
    background-color: rgb(248, 241, 241);
    font-size: 20px;
    width: 100% ;
    border: none;
    margin-bottom: 15px;
}
form button {
 
    background-color: rgb(255, 133, 206);
    font-size: 30px;
    color: white;
    width: 88px;
    border: none;
    border-radius: 100% ;
}
